@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root, html{
    @apply bg-[#fffcee];
}

.triangle {
    @apply absolute bottom-0 right-0 w-0 h-0 border-solid;
    border-width: 50vw 100vw 0 100vh;
    border-color: transparent #fef3c7 transparent transparent;
}
.swiper-pagination-bullet{
    visibility: hidden;
}